<h1>Click Your Allergy to find a Match!</h1>

    <div class="allergy-page">

        <ul>
          @foreach(UserAllergy userAllergy in Model)
          {
            <li class="list-button">@Html.ActionLink($"{userAllergy.Allergy}", "Details", new { id = userAllergy.UserAllergyId })</li>
          }
        </ul>

    </div>

    <button>@Html.ActionLink("Add Your Weird Allergy", "Create", "UserAllergies")</button>