<h1>Allergies</h1>


<ul>
  @foreach(UserAllergy userAllergy in Model)
  {
    <li class="list-button">@Html.ActionLink($"{userAllergy.Allergy}", "Details", new { id = userAllergy.UserAllergyId })</li>
  }
</ul>

<button>@Html.ActionLink("Add Your Weird Allergy", "Create", "UserAllergies")</button>
<button>@Html.ActionLink("Home", "Index", "Home")</button>