@model AtchooClient.Models.UserProfile

@{
   ViewBag.Title = "ThankYou";
}

@if(TempData["alertMessage"] != null)
   {
      @Html.Raw(TempData["alertMessage"])
   }

<h1>You've Already added this Allergy</h1>

<button>@Html.ActionLink("Go Back", "Index", "UserProfiles")</button>