@{
    Layout = "_Splash";
}

<div class="text-center">
    <h1 class="display-4"></h1>
</div>

<div class="button-footer">
    <button>@Html.ActionLink("Register New Account", "Register", "Accounts")</button>
    <button>@Html.ActionLink("Login to Account", "Login", "Accounts")</button>
</div>