@{
    Layout = "_Splash";
}

<div class="text-center">
    <h1 class="display-4"></h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("Logoff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Logoff" />
    }
}
