<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AtchooClient</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AtchooClient.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <div class="button-footer">
                <button>@Html.ActionLink("Allergen List", "Index", "UserAllergies")</button>
                <button>@Html.ActionLink("Profile List", "Index", "UserProfiles")</button>
            </div>
        </main>
        @await Html.PartialAsync("Footer")
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>