<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AtchooClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AtchooClient.styles.css" asp-append-version="true" />
</head>
    <header>
    </header>
    <div class="topnav">
        <a id="nav-name-link" href="/"><h1 class="nav-title">Atchoo - Dating Site</h1></a>

        <!-- Marcus: pls leave-out "active", am progamming it via JS -->
        <a id="nav-link" href="/">Home</a>
        <a id="nav-link" href="/UserAllergies/Index">Allergy List</a>
        <a id="nav-link" href="/UserProfiles/Index">Profile</a>
        @if (User.Identity.IsAuthenticated)
            {
                <a id="nav-link-logoff">@using (Html.BeginForm("LogOff", "Account"))
                {
                 <input type="submit" value="Logout">
                }</a>
            }
        else
            {
                <a id="nav-link" href="/Account/Login">Login</a>
                <a id="nav-link" href="/Account/Register">Register New Account</a>
            }
    </div>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <img class="banner-image" src="https://i.ibb.co/yVnNXJv/Atchoo-Banner.png"
            style="border-radius: 40px 40px">
        </main>
        @await Html.PartialAsync("Footer")
    </div>
</body>
</html>
