    <footer class="border-top footer text-muted">
        <div class="container">
            <h5>&copy; 2022 - AtchooClient - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></h5>
        </div>
    </footer>