    <footer class="border-top footer text-muted">
        <div class="container">
            <h5>&copy; 2022 - AtchooClient </h5>
            <p class="bless-you">Bless You * Gesundheit * Salud * Salve</p>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>