@import url("~/lib/bootstrap/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


html, a {
  font-family: "Josefin Sans";
  font-weight: 600;
  /* background-color: #26277caa; */
  font-size: 20px;
}

p {
  font-family: "Source Sans Pro";
  font-weight: 500;
}



/*****

Universal Color Palette

*****/

:root {
  --sneeze-green: #7aa231;
  --yuck-grey: #b4bcba;
  --dark-blue: #0a0b36;
  --beige: #f7dba7;
  --light-purple: #26277caa;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  /* margin-bottom: 60px; */
  background-color: #26277c93;
  gap: 5vh;
}

h2.splash-intro, .user-page h3 {
  padding-top: 1.1rem;
  color: aliceblue;
  transform: scale(1.3);
}

h5  {
  display: flex;
  justify-content: center;
  color: var(--light-purple);
}

/***** 

General Centering

*****/

main, .extra-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: -1em; */
}

main {
  margin-top: 15%;
}

/** Link Styling **/

a, button a {
  text-decoration: none;
  display: block;
  font-family: "Josefin Sans";
  font-weight: 600;
  margin: 3px;
  border-style: none;
  color: var(--dark-blue);
}

/** Title Container **/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 50%;
}

.splash-intro {
  margin-top: -10%;
}

.title {
  display: flex;
  margin-top: 10vh;
  align-items: center;
}

.text-center, main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.banner-image {
  position: relative;
  top: -5rem;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.6);
  box-shadow: 0 2px 2px 3px var(--dark-blue);
}

/****Buttons Container ***/

.button-footer, .user-button-footer {
  display: flex;
  margin: 0;
  gap: 2px;
  align-items: center;
}

button, .button, .list-button {
  border-radius: 60px;
  border-style: none;
  box-shadow: 0 2px 1px 2px rgba(82, 81, 81, 0.396);
  margin: 5% 0;
  background-color: rgb(255, 244, 244);
  color: var(--dark-blue);
}

.button a {
  color: var(--dark-blue);
}

.list-button {
  color: var(--dark-blue);
  padding: .2rem;
  margin: 2%;
  list-style: none;
  display: flex;
  float: left;
}

.list-button:hover {
  color: var(--dark-blue);
  box-shadow: 0 2px 2px 2px var(--sneeze-green);
  cursor: pointer;
}

button:hover, .button:hover {
  color: rgba(131, 231, 127, 0.572);
  box-shadow: 0 2px 2px 2px var(--sneeze-green);
}

footer .container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  gap: 2%;
  margin-top: 10vh;
}

.extra-button {
  display: flex;
}

.extra-button button {
  width: 70%;
  margin-left: 15%;
  padding: 0;
}


/****

  General Form Styling

****/

.Register {
  display: grid;
  height: 100%;
}

.inner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form-wrap {
  background-color: var(--dark-blue);
  height: 50%;
  width: 24vh;
  padding: 1%;
  border-radius: 30px 5px 30px 5px;
}

.form-wrap input {
  height: 105%;
}

.form-wrap form {
  padding: auto;
}

.form-wrap button {
  margin-left: 24%;
  margin-top: -8%;
}

.form {
  background-color: var(--beige);
  display: flex;
  width: 100%;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem;
  padding: 11%;
  gap: 2px;
  border-radius: 30px 5px 30px 5px;
}

.form input {
  margin: 2%;
}

#logo {
  justify-content: center;
  width: 30%;
  height: 40%;
  margin-left: 2%;
  border-style: none;
}

textarea.form-control {
  height: 150px;
  margin: 0px;
  resize: both;
}

.form-control {
  height: 150px;
  margin: 0px;
  resize: both;
  overflow: none;
}



 /*****

UserProfile Card Allergy Details

*****/



.card {
 
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
}

.card-title {
  margin-top: 5px;
  margin-left: 10px;
  text-align: center;
}

/*****

Footer

*****/

.bless-you{
  color: black;
}


/******

UserAllergies

******/

.allergy-page ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  width: 40vw;
  background-color: aliceblue;
  padding: 2em;
  border-radius: 40px 40px;
  box-shadow: 7px 6px rgba(82, 81, 81, 0.296);
}

.allergy-page h1 {
  color: aliceblue;
  
}

.allergy-page li, .allergy-page a{
  display: block;
  justify-content: center;
  text-align: center;
}

.allergy-page a {
  display: block;
  text-align: center;
  justify-content: center;
}


/** UserProfiles/Index has a div of "allergies-card **/

.allergies-card img {
  display: flex;
  transform: scale(0.9);
  top: 20%;
}

.allergies-card > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.user-page .allergies-card {
  height: 70%;
}

/******

UserProfiles/Details/{id}  &&  User Card

*******/

.user-page {
  margin: 10%;
  margin-top: 0;
}

.user-card-title {
  margin-left: 15%;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  background-color: aliceblue;
  padding: 2em;
  border-radius: 40px 40px;
  box-shadow: 7px 6px rgba(82, 81, 81, 0.296);
}

.user-card ::after {
  background-image: url("https://i.ibb.co/nkgC1YJ/logo.png");
  background-size: cover;
  opacity: 0.2;
}

.user-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 1em;
}

/* .user-card-allergy-list > * {
  display: flex;
  align-items: left;
} */

.user-card-content-pic {
  display: flex;
  justify-content: center;
  inset: 0;
  width: 100%;
  height: 90%;
  margin: 5% auto;
  background-color: transparent;
}

.user-card-content-bio {
  width: 100%;
  margin: 5% 0;
}

.user-button-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1%;
}

#user-config{
  margin: 2%;
}

#trashyboi:hover {
  transform: scale(0.94);
  color: red;
  cursor: pointer;
  filter: drop-shadow(1px 1px rgba(82, 82, 82, 0.3));
}

/** hover animations**/

.row .card:hover, .list-button:hover {
  background-color: papayawhip;
  transform: scale(1.03);
  transition: ease-in;
  transition-delay: 10ms;
  transition-duration: 240ms;
  color: indigo;
  cursor: grabbing;
}

.list-button:hover {
  color: var(--sneeze-green);
}


/*****

IMG

*****/

img{
  margin-bottom: 5px;
  border: 2px solid black;
}


/*****

Nav Bar

*****/


.topnav {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 1%;
  margin-bottom: 5vh;
  background-color: #26277c93;
}

.topnav {
  overflow: hidden;
}

.topnav #nav-link, #nav-link-logoff {
  display: flex;
  float: left;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

#nav-link-logoff, #nav-link-logoff > * {
  background-color: transparent;
  color: (var--beige);
  border-radius: 30px 30px;
}

.topnav #nav-link:hover {
  animation-duration: 300ms;
  color: #04AA6D;
}

.topnav a.active {
  background-color: #04AA6D;
  color: #04AA6D;
  text-decoration: underline;
  border-radius: 10px 10px;
}

#nav-name-link {
  margin-left: 1%;
  margin-right: 20%;
  float: left;
  text-decoration: none;
  color: #7aa231;
  text-shadow: rgb(0, 0, 0) 2px 2px;
}


/*****

Media Querires

*****/



@media (max-width: 768px) {

  html, a {
    font-size: 20px;
  }

 .container, body {
    margin: 0;
    width: 100%;
  }


/* 
  main {
    display: flex;
    position: relative;
    margin-top: 80%;
  } */

  .user-card, .allergy-page ul {
    width: 90vw;
  }


  /*****

  Nav Bar

  *****/

  .topnav {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5vw;
    /* margin-bottom: 15vh; */
    background-color: #26277c93;
  }

  .topnav {
    /* background-color: #333; */
    overflow: hidden;
  }

  .topnav #nav-link {
    float: left;
    color: #f2f2f2;
    text-align: center;
    /* padding: 2%; */
    text-decoration: none;
    font-size: 17px;
  }

  .topnav #nav-link:hover {
    background-color: aliceblue;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: #04AA6D;
  }

  #nav-name-link {
    display: flex;
    justify-content: center;
    /* margin-left: 1%; */
    margin-right: 5vw;
    /* float: center; */
    align-items: center;
    text-decoration: none;
    color: yellow;
    text-shadow: rgb(0, 0, 0) 2px 2px;
  }


  .user-page {
    margin-top: -10%;
  }

  .user-card-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1em;
  }

  .user-card-content-pic {
    height: 25vh;
    width: 100%;
  }


}