@import url("~/lib/bootstrap/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
  font-family: "Josefin Sans";
  font-weight: 600;
  /* background-color: #26277caa; */
}


/*****

Universal Color Palette

*****/

:root {
  --sneeze-green: #7aa231;
  --yuck-grey: #b4bcba;
  --dark-blue: #0a0b36;
  --beige: #f7dba7;
  --light-purple: #26277caa;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  /* margin-bottom: 60px; */
  background-color: #26277c93;
}

h5  {
  display: flex;
  justify-content: center;
  color: var(--light-purple);
}

/***** 

General Centering

*****/

.main, .extra-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/** Link Styling **/

a, button a {
  text-decoration: none;
  display: block;
  font-family: "Josefin Sans";
  margin: 3px;
  border-style: none;
}

/** Title Container **/

.container {
  margin: 0;
  height: 50%;
}

.title {
  display: flex;
  margin-top: 10vh;
  align-items: center;
}

.text-center, main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.banner-image {
  position: relative;
  top: -5rem;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.6);
  box-shadow: 0 2px 2px 3px var(--dark-blue);
}

/****Buttons Container ***/

.button-footer, .user-button-footer {
  display: flex;
  margin: 0;
  align-items: center;
  /* top: -100%; */
}

button, .button, .list-button {
  border-radius: 60px;
  border-style: none;
  box-shadow: 0 2px 1px 2px rgba(82, 81, 81, 0.396);
  margin: 5% 0;
  background-color: rgb(255, 244, 244);
  color: var(--dark-blue);
}

.button a {
  color: var(--dark-blue);
}

.list-button {
  color: var(--dark-blue);
  padding: .2rem;
  list-style: none;
  display: flex;
  float: left;
}

.list-button:hover {
  color: var(--dark-blue);
  box-shadow: 0 2px 2px 2px var(--sneeze-green);
  cursor: pointer;
}

button:hover, .button:hover {
  color: rgba(131, 231, 127, 0.572);
  box-shadow: 0 2px 2px 2px var(--sneeze-green);
}

footer .container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  gap: 2%;
  margin-top: 10vh;
}

.extra-button {
  display: flex;
  /* justify-content: center; */
  /* flex-direction: flex-start; */
}

.extra-button button {
  width: 70%;
  margin-left: 15%;
  padding: 0;
}


/****

  General Form Styling

****/

.Register {
  display: grid;
  height: 100%;
}

.inner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* padding-left: 5%; */
}

.form-wrap {
  background-color: var(--dark-blue);
  height: 50%;
  width: 24vh;
  padding: 1%;
  border-radius: 30px 5px 30px 5px;
}

.form-wrap input {
  height: 105%;
}

.form-wrap form {
  padding: auto;
}

.form-wrap button {
  margin-left: 24%;
  margin-top: -8%;
}

.form {
  background-color: var(--beige);
  display: flex;
  width: 100%;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  /* height: 12vh; */
  margin: 1.5rem;
  padding: 11%;
  gap: 2px;
  border-radius: 30px 5px 30px 5px;
}

.form input {
  margin: 2%;
}

#logo {
  justify-content: center;
  width: 30%;
  height: 40%;
  margin-left: 2%;
}

textarea.form-control {
  height: 150px;
  margin: 0px;
  resize: both;
}

.form-control {
  height: 150px;
  margin: 0px;
  resize: both;
  overflow: none;
}


/******

UserProfiles/Create

******/




/******

UserProfiles/Details/{id}  &&  User Card

*******/


.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.user-button-footer {
  display: flex;
}










/*****

Media Querires

*****/



@media (min-width: 768px) {

  html, a {
    font-size: 20px;
  }


}